<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB9mixozWknhzPL8D7Vkp1UrA9vtX47Xrw</string>
	<key>GCM_SENDER_ID</key>
	<string>420625779635</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.eventManagement</string>
	<key>PROJECT_ID</key>
	<string>event-management-845935</string>
	<key>STORAGE_BUCKET</key>
	<string>event-management-845935.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:420625779635:ios:2fd8dcd59f757b0a5a59c6</string>
</dict>
</plist>